@font-face {
  font-family: kot;
  src: url('fonts/Brandon_reg.otf') format('opentype');
}

@font-face {
  font-family: kot;
  font-weight: bold;
  src: url('fonts/Brandon_blk.otf') format('opentype');
}

body
{
  background-color: #000;
  margin: 0;
  padding: 0;
	font-family: kot;
	font-size: 14px;
}
.tablas-metodo{
	list-style:none;
	padding:0;
	margin:0;
	width:100%;

}
.tablas-metodo li{
	height:auto !important;
	float:left; /*comentar esto*/
	width:150px;
		text-align:left !important;

}
.tablas-metodo li span{
	position:relative;
	left:10px;
}

.checktop {
	vertical-align: top;
}

.checktop a {
	color: #5CC1A6;
	font-family: kot;
}

.checkbox label:before {  
    border-radius: 0;  
}    

.custombox {
	display: none;
}

.customlabel {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;  
}  

.customlabel:before {  
	background-color: #fff;
	border: solid 1px #5CC1A6;
	bottom: 2px;
  content: "";  
  display: inline-block;  
  height: 16px;  
	left: 0;
  margin-right: 10px;  
  position: absolute;
  top: 2px;
  width: 16px;
}  

.custombox:checked + .customlabel:before {
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;
    font-family: kot;
    color: #5CC1A6;  
    text-align: center;  
    line-height: 15px;  
}

#container
{
	font-family: kot;
	min-height:420px;
	height:100%;
    margin: 0 auto;
	/*background:url("img/backg.png") repeat;*/
	background: #5CC1A6;
	background-size:100%;
	color:#000;
	width:320px;


}

#topbar {
	font-family: kot;
	height: 40px;
	text-shadow: none;
	width: 100%;
}

.bar-title-top {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	width: 75%;
}

#panel
{
	height:100%;
	width:290px;
	margin:0 auto 0 auto;
}
#panel span
{
	text-align:center;
}
#panel a
{
	color:#000;
	text-decoration:none;
	font-weight:normal;
}

#panel-faq
{
	height:100%;
	width:290px;
	margin:0 auto 0 auto;
}

#alper-list
{
	background-color: white;
	border: 1px solid white;
	border-radius: 4px;
	margin: auto;
	padding:0;
	width: 90%;
}
#alper-list li
{
	height:40px;
	position:relative;
}
#alper-list li span
{
	position:absolute; top:12px;
	width:100%;
	text-align:center;
}
#alper-list a
{ 
	color: #5CC1A6; 
	text-shadow: none; 
	text-decoration: none; 
}

#prod-cat
{
	list-style:none;
	padding:0;
}
#prod-cat li
{
	height:40px;
	position:relative;
}
#prod-cat li span
{
	position:absolute; top:12px;
	width:100%;
	text-align:center;
}
#prod-cat a
{ 
	color:#fff; text-shadow: 0.1em 0.1em #333; text-decoration:none; 
}


.table-alim {
	background:#fff;
	border:solid 1px #5CC1A6;
	-webkit-border-radius: 5px;
	color: gray;
	font-family: kot;
	font-size: 13px;
	position:relative;
}

#tit-perm-princ{
	position:relative;
	color:#4f545a;
	padding-left:20px;
}

.table-alim td{
	height:30px;
}

.bot-menu{
	list-style: none;
	padding-left: 8px;
	margin: 0 auto;
	width: 100%;
	
}
.bot-menu li{
	float:left;
	width:96px;
}
#nav{
	width:100%;
	margin:0 auto;
	padding-top:4px;
}
#login-fields{
	width:90%;
	height:180px;
	margin:0 auto;
	-webkit-border-radius: 5px;
	background:#fff;
	
}
#register-fields
{
	width:90%;
	height:360px;
	margin:0 auto;
	-webkit-border-radius: 5px;
	background:#fff;
	
}
#productos-list{
	list-style:none;
	margin:0;
	padding:0;
	background:#fff;
}
#productos-list a{
	color:black;
	font-weight:normal;
}
#productos-list li{
	border-bottom:solid 1px #EEEEEE;
}
#productos-list li:last-child{
	border:none;
}
.item-producto{
	font-size:13px;
}
#info-user{
	width:88%;
	padding-top:30px;
	margin:0 auto;
}

#info-data {
	color: #5CC1A6;
	list-style:none;
	margin:0 auto;
	padding-left:10px;
	padding-top:10px;
	width:100%;
	background:#fff;
	-webkit-border-radius: 5px;
}
#info-data li{
	height:30px;
}
#grafica-progreso {
	background: #5CC1A6;
	color: #fff;
	font-family: kot;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
	text-shadow: none;
}

#metodo-style{
	margin:auto;
	padding:0;
	list-style:none;
	width: 95%;
}
#metodo-style .titulo{
	background-color: #d1d3d4;
	height:25px;
	text-align:center;
	font-weight:bold;
	font-size: 16px;
	color:#5CC1A6;
	padding-top:0px;
	text-shadow: none;
}
#metodo-style .contenido{
	height:auto;
	background:#fff;
	font-size:14px;
	text-align:center;
}
#metodo-style li{
	height:55px;
	background:#fff;
	font-size:13px;
	text-align:center;
}
#lista-restaurantes ul{
	width:100%;
	position:relative;
	left:15px;
	
}
#video-list{
	list-style:none;
	padding:0;
	background:#fff;
}
#video-list li{
	height: auto;
	border-bottom:solid 1px #EEEEEE;
}
#video-list a{
	color:#000;
	text-decoration:none;
}

/*   ****/

.table-menu{
	border:solid 1px;
	-webkit-border-radius: 5px;
	background:#fff;
	position:relative;
}
.tabl-menu tr:nth-child(odd){ background: #fcfcfc;}
.table-menu tr:nth-child(even){ background: #dbdbdb;}


.table-menu tr{
	font-size:10px;
} 
.table-menu td{
	height:30px;
}

.talbe-menu td a{
	color:black;
	text-decoration:none;
}

a{
	color:black;
}
#stars-menu {
	background: #d1d3d4;
	color: #5CC1A6;
	height: 40px;
	font-family: kot;
	font-size:17px;
	font-weight: bold;
	text-shadow: none;
	
}

/***** *****/
.table-menu-detail{
	background: #fff;
	position: relative;
	border-top:solid 1px #f4f4f6;
	border-radius: 4px;
}

.table-menu-detail tr {
	color: #5CC1A6;
	font-size:12px;
} 
.table-menu-detail td{
	height:30px;
}

.talbe-menu-detail td a{
	color:black;
	text-decoration:none;
}

/**note**/
div#note{
	font-size: 10px;
	padding-left: 12px;
}

.mujer-btn {
	background-image: url('img/circulo_magenta.png') !important;
	background-position: center !important;
	background-size: 110% !important;
	color: white !important;
}

.hombre-btn {
	background-image: url('img/h.png') !important;
	background-position: center !important;
	background-size: 110% !important;
	color: white !important;
}

.horizontal {
	display: inline-block;
	vertical-align: middle;
}

#bar-address {
	color: #000;
	font-family: kot;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	padding-left: 20px;
	text-align: center;
	text-shadow: none;
}

.label {
	font-weight: bold;
}

.ui-btn-inner {
	color: #5CC1A6 !important;
}

.ui-select .ui-btn {
	background: white !important;
}

.ui-input-text {
	background: white !important;
}

.ui-icon {
	background-color: #5CC1A6 !important;
}

.kot-link {
	color: blue !important;
	text-decoration: none;
	text-shadow:none;
}

.sexo-combo {
	margin-left: 3px;
	width: 145px;
}

.peso-input {
	margin-left: 7px;
	width: 125px;
}

.estatura-input {
	margin-left: 7px;
	width: 125px;
}

.video-btn {
	background-image: url('img/h.png') !important;
	background-position: center !important;
	background-size: 110% !important;
	color: white !important;
}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:290px; width:240px; color:#000; background-color:#FFF; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#08c;}
#simplemodal-container a.modalCloseImg {background:url(images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


.ui-controlgroup .ui-radio label {
	font-size: 14px !important;
}

.menu-title {
	color: white;
	font-family: kot;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1.2px;
	margin:auto;
	padding-top:20px; 
	text-align:center;
}

.menu-item-container {
	float: left;
	height: auto;
	position: relative; 
	width: 145px; 
}

.menu-item-image {
	height: 170px;
	margin: 0 10px;
	width: 120px;
	/*margin: auto;
	position: relative;
	width: 90px;*/
}

.menu-item {
	color: white;
	font-family: kot;
	font-size: 16px;
	font-weight: normal;
	margin: auto;
	position: relative;
	text-align: center;
	width: 100%;
}

.kot-txt-bold {
	font-family: kot;
	font-weight: bold;
}

.bottom-menu-item {
	color: #5CC1A6;
	font-family: kot;
	font-weight: bold;
	text-align: center;
}

.invisible {
	display: none;
}

#cinta_meta {
	background-color: #EC6D36;
	background-position: center;
	border: solid 1px #EC6D36;
	border-radius: 4px;
	bottom: 5px;
	color: #fff;
	font-size: 16px;
	height: 25px;
	position: relative;
	width: 90%;
}

#sort-btns {
	display: none;
	margin-left: 60px;
}

.alimentos-menu {
	color: #fff;
	font-family: kot !important;
	font-weight: bold;
	text-align: center;
	text-shadow: none;
}

.kot-font {
	font-family: kot;
}

.lista-nutri {
	border-bottom: solid 1px #fff;
	border-radius: 3px;
	margin: 5px !important; 
	width: 280px !important; 
}

.letra {
	background: #d1d3d4 !important;
	border: 1px solid #d1d3d4 !important;
	border-radius: 3px 3px 0 0;
	color: #5CC1A6 !important;
	text-align: center !important;
	text-shadow: none !important;
}

.nombre-nutri {
	color: #5CC1A6;
	font-family: kot !important;
}

.datos-nutri {
	color: #5CC1A6;
	font-family: kot;
	font-size: 12px;
	font-weight: normal;
	text-shadow: none;
}

.separador {
	background: #5CC1A6;
	border: none;
	height: 1px;
}

.restaurant-img {
	background: #fff;
	border: 1px solid #fff;
	border-radius: 4px;
	margin: auto;
	width: 290px;
}

.platillo-img {
	background: #5CC1A6;
	border: 1px solid #5CC1A6;
	border-radius: 4px;
	margin: auto;
	width: 290px;
	height: 180px;
}

.platillos-header {
	background: #d1d3d4;
	color: #5CC1A6;
	font-family: kot;
	font-weight: bold;
	text-shadow: none;
}

.platillo {
	color: #5CC1A6 !important;
	font-family: kot !important;
	font-weight: normal !important;
	text-decoration: normal;
	text-shadow: none !important;
}

.contacto-txt {
	color: white !important;
	font-size: 20px; 
	text-decoration: none !important;
	text-shadow: none !important;
}

.ui-btn-text {
	font-family: kot !important;
}

.ui-btn-up-c {
	background: #fff !important;
	border: 1px solid #fff !important;
}

.ui-btn-active {
	background:	#d1d3d4 !important;
	border: 1px solid #d1d3d4 !important;
	text-shadow: none !important;
}

.ui-focus {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}